/.git/
/.idea/
/nbproject/
/vendor/
/cache/
/config/config.yaml
/config/core.log
/config/user_cookies.txt
/reports/
/resources/skins/default/bower_modules/
/libraries_/
.github
.gitconfig
.DS_Store
.vscode
*.lock
