components/
htdocs/vendor/
htdocs/config/config.yaml
htdocs/html/skins/dolibarr/
htdocs/html/skins/default/original/
htdocs/index_dol.php
nbproject
default.properties
.DS_Store
.idea
.settings/
.buildpath
.gitmodules
/.project
/.pydevproject
/.vscode
*.iml
*.orig
Thumbs.db
.vagrant
composer.phar
/composer.lock
