components/
nbproject
default.properties
.DS_Store
.idea
.settings/
.buildpath
.gitmodules
/.project
/.pydevproject
/.vscode
*.iml
*.orig
Thumbs.db
.vagrant
composer.phar
/vendor/
/.phpunit.cache/
/dist/
.env
config.json
test-scrutinizer.txt
phpdoc.phar

# Skeleton Development App
skeleton/vendor/
skeleton/tmp/
skeleton/var/cache/*
skeleton/data/
skeleton/public/themes/
skeleton/public/alxarafe/
skeleton/public/js/
skeleton/public/css/

# VitePress deployment
docs/.vitepress/dist/
docs/.vitepress/cache/
/node_modules/
