version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
    volumes:
      - .:/var/www/html
    networks:
      - alxarafe-net

  web:
    image: nginx:alpine
    ports:
      - "8081:80"
    volumes:
      - .:/var/www/html
      - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - alxarafe-net

  db:
    image: mariadb:10.5
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: alxarafe
      MYSQL_USER: alxarafe
      MYSQL_PASSWORD: password
    ports:
      - "3388:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - alxarafe-net

  pma:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8082:80"
    depends_on:
      - db
    networks:
      - alxarafe-net

networks:
  alxarafe-net:
    driver: bridge

volumes:
  db_data:
