parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Core/Base/Model/Trait/DtoTrait.php
        - src/Core/Component/*
        - src/Core/Base/Controller/ResourceController.php
