parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
    excludePaths:
        - src/Infrastructure/Persistence/Model/Trait/DtoTrait.php
    ignoreErrors:
        - '#Call to an undefined method Alxarafe\\ResourceController\\Contracts\\QueryContract::whereRaw\(\)#'
