<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="Tests/bootstrap.php" colors="true" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory>Tests/Unit</directory>
      <directory>skeleton/Tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory>Tests/Feature</directory>
      <directory>skeleton/Tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="DB_CONNECTION" value="mysql"/>
    <env name="DB_HOST" value="127.0.0.1"/>
    <env name="DB_PORT" value="3399"/>
    <env name="DB_DATABASE" value="alxarafe_test"/>
    <env name="DB_USERNAME" value="root"/>
    <env name="DB_PASSWORD" value="root"/>
    
    <!-- Also define the internal config Keys used by Bootstrapper -->
    <env name="DB_USER" value="root"/>
    <env name="DB_PASS" value="root"/>
  </php>
</phpunit>
