{#
    @file badge.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Badge component.

    @var id:          Your id
    @var name:        Your name
    @var class:       Your class
    @var badge:       Your value

    How to use it:
        {% include "components/badge.html.twig" with {data:{id:'myBadgeId', name:'myBadgeName', badge: '3'}} %}
#}

<span{% if data.id is defined %} id="{{ data.id }}"{% endif %}{% if data.name is defined %} name="{{ data.name }}"{% endif %} class="badge{% if data.class is defined %} {{ data.class }}{% endif %}">
    {% if data.badge is defined %}{{ data.badge }}{% endif %}
</span>
