{#
    @file button-toolbar.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Button Toolbar component.

    @var ids:         Array of ids
    @var names:       Array of names
    @var texts:       Array of texts
    @var classes:     Array of classes, btn-default, btn-success, btn-info, btn-warning, btn-danger or button sizes

    WARNING: Length of arrays (must be the same)

    How to use it:
        {% include "Components/BS3/button-toolbar.twig" with {ids: ['buttonIdLeft','buttonIdMiddle','buttonIdRight'], names: ['buttonNameLeft','buttonNameMiddle','buttonNameRight'], texts: ['Left','Middle','Right'], classes: ['btn-default','btn-default','btn-default']} %}
#}

<div class="btn-toolbar" role="toolbar" aria-label="...">
    <div class="btn-group" role="group" aria-label="...">
        {% for id in ids %}
            <button{% if ids[loop.index0] is defined %} id="{{ ids[loop.index0] }}"{% endif %}{% if names[loop.index0] is defined %} name="{{ names[loop.index0] }}"{% endif %}
                    type="button"
                    class="btn{% if classes[loop.index0] is defined %} {{ classes[loop.index0] }}{% endif %}">
                {% if texts[loop.index0] is defined %}
                    {{ texts[loop.index0] | raw }}
                {% endif %}
            </button>
        {% endfor %}
    </div>
</div>
