{#
    @file checkbox.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Checkbox component.

    @var data:             Can contains all this key => value:
    @var data.id:          Your id
    @var data.name:        Your name
    @var data.text:        Button text
    @var data.type:        input, label

    How to use it:
        <input>
            {% include "@Core/components/checkbox.html.twig" with {data:{id:'myCheckboxId1', name:'myCheckboxName1', text: 'Esto es un placeholder', type: 'input'}} %}
        <label>
            {% include "@Core/components/checkbox.html.twig" with {data:{id:'myCheckboxId2', name:'myCheckboxName2', text: 'Acepto', type: 'label'}} %}
#}

{% set randValue = random() %}

{% set type = data.type | default('input') %}
{% set id = data.id | default('chekboxid' ~ randValue) %}
{% set name = data.name | default('chekboxid' ~ randValue) %}
{% set text = data.text | default('Escribe un texto') %}

{% if type == 'input' %}
    <div class="input-group">
          <span class="input-group-addon">
            <input id="{{ id }}" name="{{ name }}" type="checkbox" aria-label="...">
          </span>
        <input type="text" class="form-control" placeholder="{{ text | raw }}" aria-label="...">
    </div>
{% elseif type == 'label' %}
    <label>
        <input id="id" name="name " type="checkbox"> {{ text | raw }}
    </label>
{% endif %}