{#
@file div.html.twig
@author Alxarafe <info@alxarafe.com>

Default theme implementation to display a Bootstrap Input+Button component.

@var id:          Your id
@var name:        Your name
@var class:       Your class
@var value:     Your content

How to use it:
    {% include "@Core/components/div.html.twig" with {id:'divId', name:'divName', class: '', value: ''} %}
    {% include "@Core/components/div.html.twig" with {id:'divId', name:'divName', class: '', value: ''} %}
#}

{% set randValue = random() %}

{% set id = id | default('divId' ~ randValue) %}
{% set name = name | default('divName' ~ randValue) %}
{% set class = class | default('container') %}
{% set value = value | default('') %}

<div id="{{ id }}" name="{{ name }}" class="{{ class }}">
    {{ value | raw }}
</div>
