{#
    @file glyphicon.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Glyphicon component.

    @var id:          Your id
    @var name:        Your name
    @var class:       btn-default, btn-success, btn-info, btn-warning, btn-danger or button sizes

    How to use it:
        {% include "components/glyphicon.html.twig" with {data:{id:'myGlyphiconId', name:'myGlyphiconName', class: 'glyphicon glyphicon-asterisk'}} %}
#}

<span{% if id is defined %} id="{{ id }}"{% endif %}{% if name is defined %} name="{{ name }}"{% endif %}
        class="glyphicon{% if class is defined %} {{ class }}{% endif %}" aria-hidden="true"></span>