{#
    @file glyphicon.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Glyphicon component.

    @var id:          Your id
    @var name:        Your name
    @var class:       btn-default, btn-success, btn-info, btn-warning, btn-danger or button sizes

    How to use it:
        {% include "@Core/components/glyphicon.html.twig" with {data:{id:'myGlyphiconId', name:'myGlyphiconName', class: 'glyphicon glyphicon-asterisk'}} %}
#}
{% set randValue = random() %}

{% set id = data.id | default('glyphicon' ~ randValue) %}
{% set name = data.name | default('glyphicon' ~ randValue) %}
{% set class = data.class | default('glyphicon glyphicon-asterisk') %}


<span id="{{ id }}" name="{{ name }}" class="{{ class }}" aria-hidden="true"></span>