{#
    @file jumbotron.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Jumbotron component.

    @var id:          Your id
    @var name:        Your name
    @var text:        Your text

    How to use it:
        {% include "@Core/components/jumbotron.html.twig" with {data:{id: 'myJumbotronId', name: 'myJumbotronName', text: '<h1>Hello, world!</h1><p>...</p><p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>'}} %}
        {% include "@Core/components/jumbotron.html.twig" with {data:{id: 'myJumbotronId', name: 'myJumbotronName', text: '<h1>Hello, world!</h1><p>...</p><p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>'}} %}
#}
{% set randValue = random() %}

{% set id = data.id | default('thanos' ~ randValue) %}
{% set name = data.name | default('thanos' ~ randValue) %}
{% set text = data.text | default('muerte a los humanos') %}


<div id="{{ id }}" name="{{ name }}" class="jumbotron">
    <div class="container">{{ text | raw }}</div>
</div>