{#
    @file label.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Labels component.

    @var id:          Your id
    @var name:        Your name
    @var class:       label-default, label-success, label-info, label-warning, label-danger or label sizes
    @var text:        Your text

    How to use it:
        {% include "@Core/components/label.html.twig" with {id:'myLabelId', name:'myLabelName', class: 'label-primary', text: 'My text label'} %}
#}

{% set randValue = random() %}

{% set id = id | default('labelId' ~ randValue) %}
{% set name = name | default('labelName' ~ randValue) %}
{% set class = class | default('label label-default') %}
{% set value = text | default('Write a text here') %}

<span id="{{ id }}" name="{{ name }}" class="{{ class }}">
    {{ value | raw }}
</span>
