{#
@file span.html.twig
@author Alxarafe <info@alxarafe.com>

Default theme implementation to display a Bootstrap Input+Button component.

@var id:          Your id
@var name:        Your name
@var class:       Your class
@var value:       Your content

How to use it:
    {% include "@Core/components/span.html.twig" with {id:'spanId', name:'spanName', class: '', value: ''} %}
    {% include "@Core/components/span.html.twig" with {id:'spanId', name:'spanName', class: '', value: ''} %}
#}

{% set randValue = random() %}

{% set id = id | default('spanId' ~ randValue) %}
{% set name = name | default('spanName' ~ randValue) %}
{% set class = class | default('') %}
{% set value = value | default('') %}

<span id="{{ id }}" name="{{ name }}" class="{{ class }}">
    {{ value | raw }}
</span>
