{#
    @file well.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Well component.

    @var id:          Your id
    @var name:        Your name
    @var class:       well-lg, well-sm
    @var message:     Your text message

    How to use it:
        {% include "@Core/components/well.html.twig" with {id:'myWellId', name:'myWellName', class: 'well-lg', message: '<strong>Hello World</strong> Testing templating BS components with Twig!'} %}
#}

{% set randValue = random() %}

{% set id = id | default('wellid' ~ randValue) %}
{% set name = name | default('WellName' ~ randValue) %}
{% set class = class | default('well well-lg') %}
{% set text = text | default('') %}

<div id="{{ id }}" name="{{ name }}" class="{{ class }}">
    {{ text | raw }}
</div>
