{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018-2019 Alxarafe <info@alxarafe.com>
#}
{% for error in errors %}
    {% include ctrl.getComponent('Alert') with {'message': error} %}
<!-- <div class="alert alert-danger" role="alert">{{ error }}</div> -->
{% endfor %}
