[mariadb]
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
transaction_isolation = READ-COMMITTED
binlog_format = ROW
innodb_strict_mode = 0
innodb_file_per_table = 1
#innodb_large_prefix = true
#innodb_file_format = Barracuda
innodb_log_file_size = 512M
innodb_log_file_size = 256M
innodb_log_buffer_size = 256M
innodb_page_size = 32K
innodb_default_row_format = DYNAMIC
#log_bin = /var/log/mysql/mysql-bin.log
expire_logs_days = 15
#max_binlog_size = 100M
binlog_format = mixed
skip-name-resolve
