{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018 Alxarafe <info@alxarafe.com>
#}
{% extends "index.twig" %}

{% block title %}Exportar estructura de la base de datos{% endblock %}

{% block body %}
    {# TODO: This is not working? #}
    {{ view.newRow(view.blockContainer(view.title('Configuración general de la aplicación')))|raw }}

    <form action='?call=ExportStructure' method='post' accept-charset="utf-8">
        <div class="container-fluid">
            {% if (message) %}{{ message }}{% endif %}


            <div class="row">
                <div class="col-sm-12">
                    Selecciona que tablas quieres exportar:
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">&nbsp;</div>
            </div>
            <div class="row">
                {% for table in view.tables %}
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="tables[]" value="{{ table }}"> {{ table }}
                            </label>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button name="action" type="submit" class="btn btn-default btn-danger" value="cancel">
                        Salir
                    </button>
                </div>
                <div class="col-sm-6 text-right">
                    <button name="action" type="submit" class="btn btn-default btn-primary" value="export-selected">
                        Exportar seleccionado
                    </button>
                    <button name="action" type="submit" class="btn btn-default btn-primary" value="export-all">
                        Exportar todo
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
