{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018 Alxarafe <info@alxarafe.com>
#}
<!DOCTYPE html>
<html lang="es">
<head>
    {% block header %}{% include 'master/header.twig' %}{% endblock %}
</head>
<body{% if view.protectClose %} onBeforeUnload='return iCanClose()'{% endif %}>

{% block menu %}{% include 'master/menu.twig' %}{% endblock %}

<div class="container-fluid">
    {% block errors %}{% include 'master/errors.twig' %}{% endblock %}

    {% block bodytitle %}
        <h4>{{ ctrl.title }}</h4>
        <small>{{ ctrl.description }}</small>
    {% endblock %}
</div>

<div class="container-fluid">
    {% block body %}{% endblock %}
    <hr>
</div>
{% block footer %}{% include 'master/footer.twig' %}{% endblock %}
</body>
</html>