{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018 Alxarafe <info@alxarafe.com>
#}
{% extends "index.twig" %}
{% block title %}Identificación de usuario{% endblock %}

{% block body %}
    <div class="container">
        {% if (message) %}<h5>{{ message }}</h5>{% endif %}
    </div>
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">Acceso a la aplicación</h2>
            <div class="thumbnail">
                <img src="{{ constant('DEFAULT_TEMPLATES_URI') }}/img/login.png" alt="">
                <div class="caption">
                    <div class="input-group">
                        <span class="input-group-addon" id="username-addon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </span>
                        <label for="username" class="sr-only">Usuario</label>
                        <input type="text" id="username" class="form-control" placeholder="Usuario" aria-describedby="username-addon" required autofocus>
                    </div>
                    <input type="password" id="password" class="form-control" placeholder="Contraseña" aria-describedby="password-addon" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Recordarme
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
