{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018 Alxarafe <info@alxarafe.com>
#}
{% for error in errors %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
{% endfor %}
