{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018 Alxarafe <info@alxarafe.com>
#}

<footer class="footer" id="footercontent" name="footercontent">
    <div class="container">
        <p class="text-muted">
            <a target="_blank" href="https://alxarafe.es/">Alxarafe</a> 2018-{{ "now"|date("Y") }} &copy; -
            <a target="_blank" href="https://github.com/alxarafe/alxarafe">GitHub</a>
        </p>
    </div>
</footer>

{# Including jsCode #}
<script src="vendor/components/jquery/jquery.min.js"></script>
<script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
{% block javascriptsFooter %}
    {% for js in jsCode %}
        <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}
    {# Start of getFooter #}
    {{ view.getFooter() | raw }}
    {# End of getFooter #}
{% endblock %}
{# End of jsCode inclusion #}