<div>
    {% if user %}
        <ul>
            <li>
                <b>User:</b> {{ user }}
            </li>
            <li>
                <a href="?call=EditConfig">Edit</a>
            </li>
            <li>
                <a href="?call=Login&run=logout">Logout</a>
            </li>
        </ul>
    {% else %}
        <ul>
            <li>
                <b>No user connected!</b>
            </li>
            <li>
                <a href="?call=Login">Login</a>
            </li>
        </ul>
    {% endif %}
</div>
