div.phpdebugbar-widgets-translations div.phpdebugbar-widgets-status {
    font-family: monospace;
    padding: 6px 6px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    color: #555;
    background: #fafafa;
}
