name: Tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    container:
      image: rsanjose/php851:latest
      options: --user root

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: alxarafe_test
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Composer deps
        run: composer install --no-interaction --no-progress

      - name: PHPUnit Tests
        env:
          DB_HOST: mysql
          DB_USER: root
          DB_PASS: root
        run: vendor/bin/phpunit
